<section class="footer">
  <div class="footer-logo-container">
    <% link_to "/index.html", 'aria-label': "Retour à l'accueil" do %>
      <%= image_tag "https://res.cloudinary.com/dqszntd5j/image/upload/v1592933200/logo.png", alt: "C.L.A.S.S.E. Conseil - Logo", class:"nav-logo-left", loading: "lazy", width: "80", height: "80" %>
    <% end %>
  </div>
  <div class="footer-menu">
    <div class="footer-info">
      <div class="footer-lists">
        <p class="footer-list-title">Présentation</p>
        <ul class="footer-list">
          <li><%= link_to "Points forts", "/presentation.html#points-fort", class:"footer-link" %></li>
          <li><%= link_to "Missions majeures", "/presentation.html#missions", class:"footer-link" %></li>
          <li><%= link_to "Pratiques Professionnelles", "/presentation.html#pratiques_pro", class:"footer-link" %>
          </li>
          <li><%= link_to "Certifications & Diplômes", "/presentation.html#diplomas", class:"footer-link" %></li>
        </ul>
      </div>
      <div class="footer-lists">
        <p class="footer-list-title">Pratiques Professionnelles</p>
        <ul class="footer-list">
          <li>
            <%= link_to "Analyse des besoins", "/pratiques_professionnelles.html#analysis-anchor", class:"footer-link" %>
          </li>
          <li>
            <%= link_to "Définition de la démarche", "/pratiques_professionnelles.html#process-anchor", class:"footer-link" %>
          </li>
          <li><%= link_to "Les outils", "/pratiques_professionnelles.html#tools-anchor", class:"footer-link" %>
          </li>
        </ul>
      </div>
      <div class="footer-lists">
        <p class="footer-list-title">Formations</p>
        <ul class="footer-list">
          <li><%= link_to "Management", "/formations.html#formations-list", class:"footer-link" %></li>
          <li><%= link_to "Santé mentale au travail", "/formations.html#formations-list", class:"footer-link" %></li>
          <li>
            <%= link_to "Efficience personnelle au poste de travail", "/formations.html#formations-list", class:"footer-link" %>
          </li>
          <li>
            <%= link_to "Analyse des pratiques professionnelles", "/formations.html#formations-list", class:"footer-link" %>
          </li>
        </ul>
      </div>
      <div class="footer-lists">
        <p class="footer-list-title">Accompagnement</p>
        <ul class="footer-list">
          <li>
            <%= link_to "Accompagnement individuel", "/accompagnement.html#accompagnement-anchor", class:"footer-link" %>
          </li>
          <li>
            <%= link_to "Accompagnement collectif", "/accompagnement.html#accompagnement-anchor", class:"footer-link" %>
          </li>
          <li><%= link_to "Bilan de compétences", "/accompagnement.html#accompagnement-anchor", class:"footer-link" %>
          </li>
        </ul>
      </div>
      <div class="footer-lists">
        <p class="footer-list-title">Légal</p>
        <ul class="footer-list">
          <li><%= link_to "Mentions Légales", "/mentions_legales.html", class:"footer-link" %></li>
          <li><%= link_to "CGV", "/cgv.html", class:"footer-link" %></li>
        </ul>
      </div>
    </div>
    <!-- <div class="footer-btn">
      <%#= link_to "Prendre un Rendez-vous", "contact.html", class:"btn-contact-footer" %>
    </div> -->
  </div>
  <div class="separator-gradient-footer"></div>
  <div class="footer-copyright container">
    <p>© C.L.A.S.S.E. CONSEIL 2020. Tous droits réservés</p>
    <div class="footer-links">
      <a href="https://www.linkedin.com/in/corine-pesier-73975a5b/" target="_blank" rel="noopener noreferrer"
        class="pre-nav-link">
        <i class="fab fa-linkedin"></i>
        <span class="sr-only">Linkedin profile</span>
      </a>
    </div>
  </div>
</section>
<div id="colophon">
  <div class="credits">
    <p>Site réalisé par <a href="https://www.alexgwebdev.com/" target="_blank" rel="noopener noreferrer">
        <%= image_tag "https://res.cloudinary.com/dqszntd5j/image/upload/v1593638371/white_letters_no_back_jlyscm.png", class: "logo-dev lazy flip", alt: "Alex G - Web developer", loading: "lazy", height: "40"%></a>
      et
      <a href="https://www.linkedin.com/in/florian-dublanc/" target="_blank" rel="noopener noreferrer">
        <%= image_tag "https://res.cloudinary.com/dqszntd5j/image/upload/v1593638356/floppy_logo_white_eelkvq.png" ,class: "logo-dev lazy flip", alt: "Florian Dublanc - Web developer", loading: "lazy", height: "40"%>
      </a>
    </p>
  </div>
</div>
