<nav id="navbar">
  <div class="nav-wrapper">
    <div class="navbar-logo-container">
      <% link_to "/index.html", 'aria-label': "Back to Home" do %>
        <%= image_tag "https://res.cloudinary.com/dqszntd5j/image/upload/v1592917699/logo_temp.png", alt: "C.L.A.S.S.E. Conseil - Logo", id:"nav-logo-left" %>
      <% end %>
    </div>
    <!-- Navigation -->
    <div class="navbar-middle hidden-sm-down">
      <ul class="nav-list">
        <li class="navbar-item"><%= link_to "Présentation", "", class:"navbar-link" %></li>
        <li class="navbar-item"><%= link_to "Pratiques Profesionnelles", "", class:"navbar-link" %></li>
        <li class="navbar-item"><%= link_to "Formations", "", class:"navbar-link" %></li>
        <li class="navbar-item"><%= link_to "Contact", "", class:"navbar-link" %></li>
      </ul>
    </div>
    <div class="navbar-right hidden-sm-down">
      <%= link_to "Prendre un Rendez-vous", "contact.html", class:"btn-contact" %>
    </div>
    <!-- Burger menu for small screens -->
    <div class="mobile_nav hidden-md-up">
      <button class="hamburger hamburger-collapse front-position" type="button" aria-label="Menu" id="sidenav-trigger">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div class="sidenav">
        <%# link_to "/index.html" do %>
          <%#@= image_tag "https://res.cloudinary.com/dqszntd5j/image/upload/v1592917699/logo_temp.png", alt: "C.L.A.S.S.E. Conseil - Logo", class:"img-responsive", id: "logo-sideNav" %>
          <%# end %>
          <ul>
            <li><%= link_to "Accueuil", "/index.html", class:"sidenav-link" %></li>
            <li><%= link_to "Présentation", "", class:"sidenav-link" %></li>
            <li><%= link_to "Pratiques Profesionnelles", "", class:"sidenav-link" %></li>
            <li><%= link_to "Formations", "", class:"sidenav-link" %></li>
            <li><%= link_to "Contact", "", class:"sidenav-link" %></li>
          </ul>
          <div class="social-wrapper">
            <div class="social-links-sidenav">
              <a href="https://www.linkedin.com/in/corine-pesier-73975a5b/" target="_blank" rel="noopener noreferrer" aria-label="Linkedin"><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
