---
title: C.L.A.S.S.E. Conseil (Formation & Bilan de compétences)
---
<section class="banner">
  <div class="banner-text container">
    <h1>C.L.A.S.S.E. CONSEIL</h1>
    <h2>Corine Pesier</h2>
    <h3>Psychologue, Consultante et Formatrice R.H. indépendante</h3>
    <a class="btn-flat-outline" href="/pratiques_professionnelles.html">En savoir plus ></a>
  </div>
  <div class='icon-scroll'>
    <div />
</section>
<section class="sub-banner section container">
  <p class="mini-title">Bienvenue</p>
  <div class="quote container">
    <div class="quote-wrapper">
      <div class="quote-text">
        <blockquote>
          <p>Développer les compétences, c'est créer de la valeur ajoutée, augmenter l'efficience, participer au
            développement personnel et susciter la motivation sous jacente</p>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="introduction">
    <div class="wrapper-left">
      <%= image_tag "https://res.cloudinary.com/dqszntd5j/image/upload/v1592933200/logo.png", alt: "C.L.A.S.S.E. Conseil - Logo", id:"intro-logo" %>
    </div>
    <div class="wrapper-right">
      <h2 class="section-title" id="sub-banner-title">28 années d'expertise dans:</h2>
      <div class="xp">
        <h3><i class="fas fa-check"></i>L’accompagnement individuel et collectif</h3>
        <h3><i class="fas fa-check"></i>Le bilan de compétences</h3>
        <h3><i class="fas fa-check"></i>La formation</h3>
      </div>
    </div>
  </div>
</section>
<div class="separator-gradient"></div>
<section class="services section container">
  <p class="mini-title" id="mini-title-service">Mes services</p>
  <h2 class="section-title">Ensemble,</h2>
  <div class="services-cards-wrapper">
    <% link_to '/pratiques_professionnelles.html', class: "card-full-link"  do %>
    <div class="services-card analyse">
      <div class="icons">
        <i class="fas fa-chart-line"></i>
      </div>
      <h3>Analysons vos besoins</h3>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dignissimos commodi
        consequatur perspiciatis</p>
      <hr class="sep-card">
      <%= link_to 'En savoir plus <i class="fas fa-arrow-right"></i>', "/pratiques_professionnelles.html", class: "card-links" %>
    </div>
    <% end %>
    <% link_to '/pratiques_professionnelles.html', class: "card-full-link"  do %>
    <div class="services-card steps-definition">
      <div class="icons">
        <i class="fas fa-cogs"></i>
      </div>
      <h3>Définissons la démarche</h3>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quasi vero aliquid explicabo
        commodi cumque</p>
      <hr class="sep-card">
      <%= link_to 'En savoir plus <i class="fas fa-arrow-right"></i>', "/formations.html", class: "card-links" %>
    </div>
    <% end %>
    <% link_to '/pratiques_professionnelles.html', class: "card-full-link"  do %>
    <div class="services-card tools">
      <div class="icons">
        <i class="fas fa-wrench"></i>
      </div>
      <h3>Choisissons les outils</h3>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quasi vero aliquid explicabo
        commodi cumque</p>
      <hr class="sep-card">
      <%= link_to 'En savoir plus <i class="fas fa-arrow-right"></i>', "/formations.html", class: "card-links" %>
    </div>
    <% end %>
  </div>
</section>
<div class="separator-gradient"></div>
<section class="reinsurance section container">
  <p class="mini-title" id="mini-title-service">Travaillons ensemble</p>
  <h2 class="section-title">Grandir et s'agrandir</h2>
  <div class="reinsurance-wrapper">
    <div class="reinsurance-items">
      <div class="reinsurance-pastille">
        <i class="fas fa-briefcase"></i>
      </div>
      <div class="reinsurance-items-inner">
        <p class="nbr">25</p>
        <p class="reinsurance-text">Années d'expériences</p>
      </div>
    </div>
    <div class="reinsurance-items">
      <div class="reinsurance-pastille">
        <i class="fas fa-award"></i>
      </div>
      <div class="reinsurance-items-inner">
        <p class="nbr">2</p>
        <p class="reinsurance-text">Certifications</p>
      </div>
    </div>
    <div class="reinsurance-items">
      <div class="reinsurance-pastille">
        <i class="far fa-handshake"></i>
      </div>
      <div class="reinsurance-items-inner">
        <p class="nbr">50+</p>
        <p class="reinsurance-text">Clients</p>
      </div>
    </div>
    <div class="reinsurance-items">
      <div class="reinsurance-pastille">
        <i class="far fa-smile"></i>
      </div>
      <div class="reinsurance-items-inner">
        <p class="nbr">100%</p>
        <p class="reinsurance-text">Satisfaction</p>
      </div>
    </div>
  </div>
</section>
<div class="separator-gradient"></div>
<section class="clients section container">
  <p class="mini-title" id="mini-title-service">Nos clients</p>
  <h2 class="section-title">Ils nous font confiance</h2>
  <div class="glide">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide"><%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593446139/caisse-des-depots-et-consignations.svg', alt: "caisse des dépots et consignations - clients logo", class: "clients-logo" %></li>
        <li class="glide__slide"><%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593447867/dga-logo.svg', alt: "DGA - clients logo", class: "clients-logo" %></li>
        <li class="glide__slide"><%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593446150/chu-logo.jpg', alt: "CHU Bordeaux - clients logo", class: "clients-logo" %></li>
        <li class="glide__slide"><%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593447904/logo-cpam.jpg', alt: "CPAM - clients logo", class: "clients-logo" %></li>
        <li class="glide__slide"><%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593446195/Credit_Agricole.png', alt: "Crédit Agricole - clients logo", class: "clients-logo" %></li>
        <li class="glide__slide"><%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593447924/republique-francaise-ministere-de-la-defense.svg', alt: "Ministère de la Défense - clients logo", class: "clients-logo" %></li>
        <li class="glide__slide"><%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593447943/sogerma.jpg', alt: "SOGERMA - clients logo", class: "clients-logo" %></li>
        <li class="glide__slide"><%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593449462/sud-ouest-logo.png', alt: "Sud Ouest - clients logo", class: "clients-logo" %></li>
      </ul>
    </div>
  </div>

</section>
