---
title: C.L.A.S.S.E. Conseil (Formation & Bilan de compétences)
---
<section class="banner">
  <div class="banner-text container">
    <div class="page-title">
      <h1>C.L.A.S.S.E.</h1>
      <h1 id=conseil>CONSEIL</h1>
    </div>
    <h2>Corine Pesier</h2>
    <h3>Psychologue, Consultante et Formatrice R.H. indépendante</h3>
    <a class="btn-flat-outline" href="/presentation.html">En savoir plus</a>
  </div>
  <div class='icon-scroll'><div/>
</section>
<section class="sub-banner section container">
  <p class="mini-title">Bienvenue</p>
  <h2 class="section-title">Grandir et s'agrandir</h2>
  <div class="introduction">
    <div class="wrapper-left">
      <%= image_tag "https://res.cloudinary.com/dqszntd5j/image/upload/v1592933200/logo.png", alt: "C.L.A.S.S.E. Conseil - Logo", id:"intro-logo" %>
    </div>
    <div class="wrapper-right">
      <h2 class="section-title" id="sub-banner-title">28 années d'expertise dans:</h2>
      <div class="xp">
        <p>
          <i class="fas fa-check"></i>
          <%= link_to 'L’accompagnement individuel et collectif', '/pratiques_professionnelles.html#process-anchor' %>
        </p>
        <p>
          <i class="fas fa-check"></i>
          <%= link_to 'La formation', '/formations.html' %>
        </p>
        <p>
          <i class="fas fa-check"></i>
          <%= link_to 'Le bilan de compétences', '/accompagnement.html' %>
        </p>
      </div>
    </div>
  </div>
  <div class="quote">
    <div class="quote-wrapper">
      <div class="quote-text">
        <blockquote>
          <p>Développer les compétences, c'est créer de la valeur ajoutée, augmenter l'efficience, participer au
            développement personnel et susciter la motivation sous jacente.</p>
        </blockquote>
      </div>
    </div>
  </div>
</section>
<div class="separator-gradient"></div>
<section class="services section container">
  <p class="mini-title">Services</p>
  <h2 class="section-title">Ensemble,</h2>
  <div class="services-cards-wrapper">
    <div class="card">
      <% link_to '/pratiques_professionnelles.html#analysis-anchor', class: "card-full-link"  do %>
      <div class="services-card analyse">
        <div class="icons">
          <i class="fas fa-chart-line"></i>
        </div>
        <h3>Analyser vos besoins</h3>
        <p class="card-text">Pour comprendre la demande et se fixer un but</p>
        <hr class="sep-card">
        <%= link_to 'En savoir plus <i class="fas fa-arrow-right"></i>', "/pratiques_professionnelles.html#analysis-anchor", class: "card-links" %>
      </div>
      <% end %>
    </div>
    <div class="card">
      <% link_to '/pratiques_professionnelles.html#process-anchor', class: "card-full-link"  do %>
      <div class="services-card steps-definition">
        <div class="icons">
          <i class="fas fa-cogs"></i>
        </div>
        <h3>Définir la démarche</h3>
        <p class="card-text">Écrire les objectifs et poser le cadre</p>
        <hr class="sep-card">
        <%= link_to 'En savoir plus <i class="fas fa-arrow-right"></i>', "/pratiques_professionnelles.html#process-anchor", class: "card-links" %>
      </div>
      <% end %>
    </div>
    <div class="card">
      <% link_to '/pratiques_professionnelles.html#tools-anchor', class: "card-full-link"  do %>
      <div class="services-card tools">
        <div class="icons">
          <i class="fas fa-wrench"></i>
        </div>
        <h3>Choisir les outils</h3>
        <p class="card-text">En fonction des objectifs et des situations traitées</p>
        <hr class="sep-card">
        <%= link_to 'En savoir plus <i class="fas fa-arrow-right"></i>', "/pratiques_professionnelles.html#tools-anchor", class: "card-links" %>
      </div>
      <% end %>
    </div>
  </div>
</section>
<div class="separator-gradient"></div>
<section class="reinsurance section container">
  <p class="mini-title" id="mini-title-service">Expertise</p>
  <h2 class="section-title">Travailler ensemble</h2>
  <div class="reinsurance-wrapper">
    <div class="reinsurance-items">
      <div class="reinsurance-pastille">
        <i class="fas fa-briefcase"></i>
      </div>
      <div class="reinsurance-items-inner">
        <p class="nbr">28</p>
        <p class="reinsurance-text">Années d'expériences</p>
      </div>
    </div>
    <div class="reinsurance-items">
      <div class="reinsurance-pastille">
        <i class="fas fa-award"></i>
      </div>
      <div class="reinsurance-items-inner">
        <p class="nbr">2</p>
        <p class="reinsurance-text">Certifications</p>
      </div>
    </div>
    <div class="reinsurance-items">
      <div class="reinsurance-pastille">
        <i class="far fa-handshake"></i>
      </div>
      <div class="reinsurance-items-inner">
        <p class="nbr">50+</p>
        <p class="reinsurance-text">Clients</p>
      </div>
    </div>
    <div class="reinsurance-items">
      <div class="reinsurance-pastille">
        <i class="far fa-smile"></i>
      </div>
      <div class="reinsurance-items-inner">
        <p class="nbr">100%</p>
        <p class="reinsurance-text">Satisfaction</p>
      </div>
    </div>
  </div>
  <div class="cta-catalogue">
    <p>Consulter le <%= link_to 'catalogue de formations', '/formations.html', class: "cta-catalogue-link"%> pour
      plus d'informations.</p>
  </div>
</section>
<div class="separator-gradient"></div>
<section class="clients section container">
  <p class="mini-title" id="mini-title-service">Clients</p>
  <h2 class="section-title">Ils me font confiance</h2>
  <div class="glide container">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
        <li class="glide__slide">
          <%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593446139/caisse-des-depots-et-consignations.svg', alt: "caisse des dépots et consignations - clients logo", class: "clients-logo" %>
        </li>
        <li class="glide__slide">
          <%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593447867/dga-logo.svg', alt: "DGA - clients logo", class: "clients-logo" %>
        </li>
        <li class="glide__slide">
          <%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593446150/chu-logo.jpg', alt: "CHU Bordeaux - clients logo", class: "clients-logo" %>
        </li>
        <li class="glide__slide">
          <%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593447904/logo-cpam.jpg', alt: "CPAM - clients logo", class: "clients-logo" %>
        </li>
        <li class="glide__slide">
          <%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593446195/Credit_Agricole.png', alt: "Crédit Agricole - clients logo", class: "clients-logo" %>
        </li>
        <li class="glide__slide">
          <%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593447924/republique-francaise-ministere-de-la-defense.svg', alt: "Ministère de la Défense - clients logo", class: "clients-logo" %>
        </li>
        <li class="glide__slide">
          <%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593447943/sogerma.jpg', alt: "SOGERMA - clients logo", class: "clients-logo" %>
        </li>
        <li class="glide__slide">
          <%= image_tag 'https://res.cloudinary.com/dqszntd5j/image/upload/v1593449462/sud-ouest-logo.png', alt: "Sud Ouest - clients logo", class: "clients-logo" %>
        </li>
      </ul>
    </div>
  </div>
</section>
